header{
height: 45px;
}

header nav ul{
display: flex;
margin-left: 70%;
list-style: none;
}

header nav ul li{
padding-left: 10%;
display: inline;
}

header a{
	text-decoration: none;
	color: brown;
}