<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/test3.css">
<title>Homeopathy with Himaja</title>
</head>
<body>
<header>
<nav>
<ul>
<li><a href="/test">Home</a></li>
<li><a href="/cases">Case Studies</a></li>
<li><a href="/ab">About</a></li>
<li><a href="/ct">Contact</a></li>
</ul>
</nav>
</header>
<main>
<section1 id="intro">
<div class="Container">
<img th:src="@{images/Img1.jpeg}" alt="A purple Petunia flower in close focus" />
<h2>Homeo With Himaja</h2>
</div>
</section1>


</main>
<footer>
<p>© Copyright 2024 Homeo with Himaja.</p>
</footer>
</body>
</html>