<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/test4.css">
<title>Home Page</title>
</head>
<body>
  <header>
<nav>
	<div class="logo-container">
  <img src="/images/img9.jpeg" alt="Logo" class="logo">
  <div class="menu-text">
    <span>Homeopathic Healing</span>
  </div>
</div>
<ul class="menu-items">
  <li><a href="/test">Home</a></li>
  <li><a href="/cases">Case Studies</a></li>
  <li><a href="/ab">About</a></li>
  <li><a href="/ct">Contact</a></li>
</ul>
</nav>
</header>
  <main>
      <div class="container">
        <img src="/images/img3.jpeg" alt="Image description">
         <h2>Welcome to Homeo with Himaja</h2>
      </div>
      <div class="container1">
        <div class="box1">
			<img src="/images/img9.jpeg"  style="width:100%; height:100%;">
			<centeredbox1>...similia similibus curentur...   "like cures like"</centeredbox1>
			</div>
        <div class="box2"> Unhealthy lifestyle is one of the major causes of 
			several diseases like heart attacks, type 2 diabetis, auto immune disorders. In your busy life schedule
			 it is hard to identify the root cause of the health issue. Dr. Himaja is a qualified clinical psychologist who can guide you with your lifestyle.
			 Combined with her homeopathic knowledge, good health might be just a call away for you.Get expert health advice from qualified Doctor and lead a quality life </div>
        <div class="box2">Homeopaths use their therapies to treat a wide variety of conditions,
			 such as Allergies,Bruises, Chronic fatigue syndrome, Colds, Caughs, Depression, Headaches, 
			 Irritable bowel syndrome, Migraines, Nausea,Premenstrual syndrome, Rheumatoid arthritis, Scrapes, Toothaches etc..

        </div>
    </div>
      
  </main>
  <footer>
    <p>&copy; 2024 Homeo with Himaja. All rights reserved.</p>
  </footer>
</body>
</html>
